
body {
    line-height: 1.6;
    transition: font-size 0.2s ease-in-out, filter 0.3s ease-in-out;
}

/* Modo Lectura Interactivo */
.al-resalte-lectura {
    outline: 4px solid #FFD700 !important;
    background-color: rgba(255, 215, 0, 0.3) !important;
    color: #000 !important;
    cursor: crosshair !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
}

/* Efecto Karaoke en la página nativa (CSS Custom Highlight API) */
::highlight(al-karaoke) {
  background-color: #FFD700;
  color: #000;
}